@import "tailwindcss";

:root {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbar {
  text-shadow: 0px 10px 20px rgba(255, 255, 255, 0.5);
  max-height: 10vh;
}

@keyframes open-menu {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.2);
  }
  100% {
    transform: scaleY(1);
  }
}

.animateMenu {
  animation: open-menu 0.5s ease-in-out forwards;
}

.hero {
  background: url("./img/hero.jpeg") center/cover no-repeat;
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  color: white;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding: 1rem;
}
.modal-underlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.834);
  opacity: 0.8;
  z-index: 99;
  border: none;
  width: 100%;
  box-shadow: unset;
}

.modal-underlay:hover {
  transform: translate(0);
  box-shadow: unset;
}

.modal-content {
  position: relative;
  z-index: 101;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 400px;
  border-radius: 15px;
  border: 1px solid black;
  background: #333;
  text-align: left;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fancyButton {
  color: black;
  background-color: white;
  width: fit-content;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  padding: 0.25rem 1.25rem;
  border: 1.5px solid black;
  box-shadow: 2px 2px 2px 0 black;
  transition-duration: 200ms;
}

.fancyButton:hover {
  box-shadow: 0 0 0 0 black;
  transform: translate(3px, 3px);
}

.fancyButton:active {
  background-color: black;
  color: white;
}

.bigger {
  font-size: 1.25rem;
}

.custom-checkbox {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 0.375rem;
  cursor: pointer;
  position: relative;
  background-color: white;
}

.custom-checkbox:checked {
  background-color: black;
  border-color: black;
}

.custom-checkbox:checked::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 0.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.account-table {
  display: flex;
  border: 4px solid black;
  width: 66vw;
  height: 50vh;
  margin: auto;
  font-size: 2rem;
  justify-content: space-around;
}
.account-table tbody {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-evenly;
  width: 66%;
}

.account-table tr {
  width: 100%;
  border-bottom: 1px dotted black;
  display: flex;
  justify-content: space-between;
}

.account-table th {
  font-weight: bold;
}

.account-table td {
  color: rgba(0, 0, 0, 0.716);
}
